@font-face{
    font-family: "nunito";
    src: url("fonts/Nunito-Black.ttf") format('truetype');
    }

    .grid-container{
        font-family: "nunito";
        background-color: orange;
        display: -ms-grid;
        display: grid;
    min-width: 10%;
    max-width: 100%;
    -ms-grid-columns: 75% 25%;
    grid-template-columns: 75% 25%;
    -ms-grid-rows: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    overflow: auto;
    }

    .box{
        position: relative;
        vertical-align: middle;
        color: black;
        padding: 1.25em;
        font-size: 100%;
    }

    .nav{
        -ms-grid-column: 1;
        grid-column: 1/3;
        -ms-grid-row: 2;
        grid-row: 1/1;
        background-color: gray;
        padding-bottom: 60px;
        padding-top: 40px;
        padding-left: 300px;
        border:solid black 10px;
box-shadow: 15px 0px 10px -15px black,;

        }

    .map{
-ms-grid-column: 1;
grid-column: 1/3;
-ms-grid-row: 3;
grid-row: 3/5;
background-color: gray;
-webkit-box-shadow: black -10px 10px 5px;
        box-shadow: black -10px 10px 5px;
border:solid black 10px;
padding-left: 200px;
content: "";
clear: both;
display: table;
    }

    .pic{
        -ms-grid-column: 1;
        grid-column: 1/1;
        -ms-grid-row: 2;
        grid-row: 2/2;
        background-color: gray;
-webkit-box-shadow: black -10px 10px 5px;
        box-shadow: black -10px 10px 5px;
border:solid black 10px;
padding: 30px;
padding-top: 50px;
padding-left: 200px;
    }

    .list{
grid-column:2/3;
grid-row: 2/2;
background-color:darkorange;
color: white;
box-shadow: black 10px 10px 5px;
border:solid black 10px;
font-size: 20px;
text-align: center;
overflow: hidden;
}

.ad{
grid-column: 2/3;
grid-row: 3/5;
background-color:darkorange;
box-shadow: black 10px 10px 5px;
border:solid black 10px;
font-size: 30px;
text-align: center;
color: white;
}

.lfont{
font-size: 25px;
}


    ul li:hover > ul,
    ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    
    ul li ul{
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    -webkit-transition: all 0.5 ease;
    -webkit-transition: all 2.5 ease;
    transition: all 2.5 ease;
    margin-top: 1rem;
    padding-left: 1rem;
    left: 0;
    display: none;
    }
     li{
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    zoom: 100%;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    }
     a{
    text-decoration: none;
     }
      a:active{
    color: blue;
     }

      ul{
        background: darkorange;
        list-style: none;
        margin: 0;
        padding-left: 0; 
        font-size: 25px;
     }
    }